[programs.localnet]
anchor_escrow = "6Efhv8qbwioWt44qEuNXYVoyDaxH4uqm7MTmGuXKqW6a"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "https://api.devnet.solana.com"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
